<h2>Proyectos</h2>
<header class="sticky">
  <a routerLink="/projects" routerLinkActive="router-link-active" class="button">
    <span class="icon-edit"></span><span>Listado de Proyectos</span>
  </a>
</header>
<br />
<section>
  <form [formGroup]="formGroup">
      <fieldset>
          <legend>Nuevo proyecto</legend>
          <section>
            <label for="id">id</label>
            <input name="id" type="text" formControlName="id" placeholder="Project id"/>
            <span>{{ getError('id')}}</span>
          </section>
          <section>
            <label for="name">Nonbre del Proyecto</label>
            <input name="name" type="text" formControlName="name" placeholder="Project name"/>
            <span>{{ getError('name')}}</span>
          </section>
      </fieldset>
      <input value="Save" type="submit" (click)="save()" [disabled]="formGroup.invalid" />
  </form>
</section>
